#elem1 {
    position: absolute;
    top: 20px;
    left: 30px;

	width: 100px;
	height: 100px;
    border: 1px solid;
	background-color: #FF8888;
}
#elem2 {
    position: absolute;
    top: 140px;
    left: 30px;

	width: 100px;
	height: 100px;
    border: 1px solid;
	background-color: #7E89EB;
}
#elem3 {
    position: absolute;
    top: 260px;
    left: 30px;

	width: 100px;
	height: 100px;
    border: 1px solid;
	background-color: #4DEE99;
}
p {
    margin-top: 400px;
    margin-left: 30px;
}