#elem1a {
    position: absolute;
	top: 300px;
	left: 100px;

	width: 80px;
	height: 80px;
	border: 1px solid red;
}
#elem2a {
	position: absolute;
	top: 300px;
	left: 210px;
	
	width: 80px;
	height: 80px;
	border: 1px solid blue;
}
#elem3a {
    position: absolute;
    top: 300px;
    left: 320px;
        
    width: 80px;
    height: 80px;
    border: 1px solid green;

}
#elem4 {
    position: absolute;
	top: 200px;
	right: 100px;

	width: 80px;
	height: 80px;
	border: 1px solid red;
	background-color: red;
}
#elem5 {
	position: absolute;
	top: 250px;
	right: 150px;
	
	width: 80px;
	height: 80px;
	border: 1px solid blue;
	background-color: blue;
}
#elem6 {
    position: absolute;
    top: 300px;
    right: 200px;
        
    width: 80px;
    height: 80px;
    border: 1px solid green;
	background-color: green;
}