div {
    width: 100px;             
    height: 100px;              
    margin: 80px 0;             
}

#elem1{
    background-color: #ff8888;
    left: 30px;
    top: 30px;
}

#elem2{
    background-color: #7e89eb;
    left: 60px;
    top: 60px;
    z-index: 1;
}

#elem3{
    background-color: #4dee99;
    left: 90px;
    top: 90px;
}

#elem4 {
    background-color: #ff8888;
    left: 30px;
    top: 200px;
    z-index: 2;
}

#elem5{
    background-color: #7e89eb;
    left: 60px;
    top: 230px;
    z-index: 1;
}

#elem6{
    background-color: #4dee99;
    left: 90px;
    top: 260px;
}

#elem7{
    background-color: #ff8888;
    left: 30px;
    top: 370px;
}

#elem8{
    background-color: #7e89eb;
    left: 60px;
    top: 400px;
    z-index: -1;
}

#elem9{
    background-color: #4dee99;
    left: 90px;
    top: 430px; 
}

#elem1, #elem2, #elem3, #elem4, #elem5, #elem6, #elem7, #elem8, #elem9{
    width: 50px;
    height: 50px;
    position: absolute;
}